@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

.backgroundA
{
    background-color: rgb(255, 255, 255);
    height:100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.alert
{
  font-family: 'Space Grotesk', sans-serif;
  font-size: larger;
}

.passphrase
{
padding: 0 10px;
text-align: left;
transition-property: box-shadow, background;
transition-duration: 350ms;
transition-timing-function: ease-in-out;
background-color: #FFFFFF;
border-width: 2px;
border-style: solid;
border-color: #DAE3F3;
border-radius: 0px;
color: #272C34;
width: 100%;
cursor: text;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
font-weight: 400;
font-style: normal;
height: 30px;
max-width: 50%;

}

.passphrase:hover{
    box-shadow: 0px 2px 4px rgb(39 44 52 / 12%);
}

.move
{
    margin-top: 1rem;
}

.passphrase:focus{
    transition-property: border-color, box-shadow, background;
    border-color: #39414D;
    outline: 0px;
    box-shadow: 0 0 0 3px #c5d2e7;
}


.centerA
{
    margin-bottom: 1rem;
}

.bye
{
    width: 25rem;
    height: 25rem;
}

.centerB
{
    margin: 10px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0 12px;
    line-height: 20px;
    height: 30px;
    max-height: 30px;
    background: #fff;
    font-weight: 700;
    border: 2px solid #DAE3F3;
    border-radius: 0;
    color: #272C34;
    transition-timing-function: ease-in-out;
    transition-property: box-shadow;
    transition-duration: 150ms;

}

.centerB:hover {
    box-shadow: 0 2px 2px rgb(39 44 52 / 12%);
}


