@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

.ponudjene-uloge
{
    width: 100%;
}

.prezentacija
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fleks
{
    display: flex;
    flex-wrap: wrap;
}

.frejm
{
    background-color: rgb(255, 255, 255);
    width: 170px;
    height: 170px;
    border: 4px solid rgb(75, 75, 75);
    margin: 20px;
    font-family: 'Space Grotesk', sans-serif;
}

.frejm:hover
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.thumb
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.uiactor::before,
.uiactor::after {
  --scale: 0;
  --arrow-size: 20px;
  --tooltip-color: rgba(0, 0, 0, 0.774);

  position: absolute;
  top: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}
.uiactor{
  position: relative;
  white-space: pre-line;
}

.uiactor::before {
  --translate-y: calc(100% + var(--arrow-size));

  z-index: 99;
  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: var(--tooltip-color);
}

.uiactor:hover::before,
.uiactor:hover::after {
  --scale: 1;
}

.uiactor::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

.background
{
    background-color: rgb(255, 255, 255);
    height:100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.roles
{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.sidebar
{
    width: 10%;
    background-color: rgb(29, 29, 29);
    min-width: 10rem;
}

.role
{
    background-color: pink;
    margin: 1rem;
    width: 15rem;
    height: 21rem;
}

.block-item
{
    background-color: gray;
}